
  #aboutme{
      font-size:20px;
      line-height: 1.2;
      padding: 20px;
      text-align: center;
      font-style: italic;
      font-family: 'Courier New', Courier, monospace;
      color: grey; 
    }

  h1{
      font-size: 40px;
      padding: 20px;
      text-align: center;
      font-family:'Courier New', Courier, monospace;
      font-style: italic;
      color: #525252;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 20px auto;
      border-radius: 8px;
      float: left;
  }

#aboutmeparagraph{
  border: 5px outset #949292;
  padding: 20px;
  
}

#images{
  border: 5px outset#525252;
  padding: 10px;
}
#contactus{
  border: 5px outset#525252;
  padding: 10px; 
  float: left; 
  
}

body{
  background-image: url(Images/skull\ edit.JPG);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #000000;
}

ul{
  font-size: 30px;
  color: azure;
  }
  #contactusheading{
      font-size: 50px;
      padding: 20px;
      text-align: center;
      font-family:'Courier New', Courier, monospace;
      font-style: italic;
      color: #ffffff;
      border: 5px outset #ffffff;


  }
#contactusemail{
  font-size: 20px;
  padding: 20px;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-style: italic;
  color: #ffffff;
    
}