body{
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #32323c;
    background-position: fixed;
    font-family: 'kanit';
    padding: 0;
    margin: 0;
}

